<div style="text-align:center">
<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @user.image_url, options={ height: "200px"} %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.first_name %>  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Location:</strong>
  <%= "#{@user.city},#{@user.state}" if @user.city!=nil && @user.state!=nil %>
</p>

<p>
  <strong>Cause:</strong>
  <%= link_to @user.cause.name, cause_path(@user.cause) if @user.cause !=nil %>

</p>


<% if @user == current_user %>
<%= link_to 'Edit', edit_user_path(@user) %>
<% end %>

<br><br>



<h3>Set Cause</h3>

<%= form_tag("/users/#{@user.id}", method: "patch") do %>
<div class="field">
<select name="user[cause_id]">
  <%= options_from_collection_for_select(Cause.all, :id, :name) %>
</select>
</div>

<button type=“submit”>Go!</button>
<% end %>
</div>
