

<div style="text-align:center">
<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @cause.image_url, options={ height: "300px"} %>
</p>


<p>
  <strong>Name:</strong>
  <%= @cause.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @cause.website %>
</p>

<p>
  <strong>About:</strong>
  <%= @cause.about %>
</p>

<%= link_to 'Back', causes_path %>
</div>
