<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @cause.image_url %>
</p>


<p>
  <strong>Name:</strong>
  <%= @cause.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @cause.website %>
</p>

<p>
  <strong>About:</strong>
  <%= @cause.about %>
</p>

<%= link_to 'Edit', edit_cause_path(@cause) %> |
<%= link_to 'Back', causes_path %>
