<p id="notice"><%= notice %></p>


<h1>Events</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Date</th>
      <th>Time</th>
      <th>Host</th>
      <th>Venue</th>
      <th>Cause</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= image_tag event.image_url(:thumb) %></td>
        <td><%= link_to event.title, event_path(event.id)%></td>
        <td><%= event.date %></td>
        <td><%= event.time %></td>
        <td><%= link_to event.user.first_name, user_path(event.user_id) %></td>
        <td><%= link_to event.venue.name, venue_path(event.venue.id) %></td>
        <td><%= link_to event.cause.name, cause_path(event.cause.id) %></td>
        <td><%= link_to 'More Info', event %></td>
        <% if user_signed_in? && (event.user == current_user || event.venue.user_id == current_user.id) %>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <% end %>
        <% if user_signed_in? && event.venue.user_id == current_user.id %>
        <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? && current_user.has_role?(:venue) %>
<%= link_to 'New Event', new_event_path %>
<% end %>
