<style>
  .showevent {
    text-align: center;
  }

</style>

<p id="notice"><%= notice %></p>
<div class="showevent">
<p>
  <%= image_tag(@event.image_url, options={ height: "300px"}) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>About:</strong>
  <%= @event.about %>
</p>

<p>
  <strong>Host:</strong>
  <%= @event.user.first_name %>
</p>

<p>
  <strong>Venue:</strong>
  <%= link_to @event.venue.name, venue_path(@event.venue.id) %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.venue.full_street_address %>
</p>

<p>
  <strong>Cause:</strong>
  <%= link_to @event.cause.name, cause_path(@event.cause.id)%>
</p>

<%= link_to 'Edit', edit_event_path(@event), class: "btn btn-info" %> |
<%= link_to 'Back', events_path, class: "btn btn-info" %>

<br>
<br>
<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['GOOGLE_MAP_API']%>&q=<%= @event.venue.full_street_address %>" allowfullscreen>
</iframe>
</div>
