<%= form_with(model: venue, local: true) do |form| %>
  <% if venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% venue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :venue_image %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :venue_name %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, id: :venue_phone_number %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :venue_email %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :venue_website %>
  </div>

  <div class="field">
    <%= form.label :style %>
    <%= form.text_field :style, id: :venue_style %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about, id: :venue_about %>
  </div>

  <div class="field">
    <%= form.label :street_address %>
    <%= form.text_field :street_address, id: :venue_street_address %>
  </div>

  <div class="field">
    <%= form.label :area_id %>
    <%= form.text_field :area_id, id: :venue_area_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
