<p id="notice"><%= notice %></p>

<h1>Venues</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Website</th>
      <th>Style</th>
      <th>User</th>
      <th>Street address</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= image_tag venue.image_url(:thumb) %></td>
        <td><%= link_to venue.name, venue_path(venue) %></td>
        <td><%= venue.phone_number %></td>
        <td><%= venue.email %></td>
        <td><%= venue.website %></td>
        <td><%= venue.style %></td>
        <td><%= User.find(venue.user_id).first_name %></td>
        <td><%= venue.street_address %></td>
        <td><%= "#{venue.city}, #{venue.state}  #{venue.post_code}" %></td>
        <td><%= link_to 'More Info', venue %></td>
        <% if user_signed_in? && venue.user_id == current_user.id %>
        <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
        <td><%= link_to 'Delete', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? && current_user.has_role?(:venue) && Venue.where(user_id: current_user.id).count == 0%>
<%= link_to 'New Venue', new_venue_path %>
<% end %>

<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>



   <div id="map"></div>
   <script>
     var map;
     function initMap() {
       map = new google.maps.Map(document.getElementById('map'), {
         zoom: 12,
         center: new google.maps.LatLng(-27.5, 153.016667),
         mapTypeId: 'roadmap'
       });

       var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
       var icons = {
         parking: {
           icon: iconBase + 'parking_lot_maps.png'
         },
         library: {
           icon: iconBase + 'library_maps.png'
         },
         info: {
           icon: iconBase + 'info-i_maps.png'
         }
       };

       var features = [
         <% @venues.each do |venue| %>
         {
           position: new google.maps.LatLng(<%= venue.latitude %>, <%= venue.longitude %>),
           type: 'library'
         },
         <% end %>

       ];

       // Create markers.
       features.forEach(function(feature) {
         var marker = new google.maps.Marker({
           position: feature.position,
           icon: icons[feature.type].icon,
           map: map
         });
       });
     }
   </script>
   <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuEtLjJSQSbK5lUfK91fiuOUht2NOeGck&callback=initMap">
   </script>
