
<div style="text-align:center">
<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @venue.image_url, options={ height: "300px"} %>
</p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @venue.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @venue.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @venue.website %>
</p>

<p>
  <strong>Style:</strong>
  <%= @venue.style %>
</p>

<p>
  <strong>About:</strong>
  <%= @venue.about %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @venue.street_address %>
</p>

<p>
  <strong>Area:</strong>
  <%= "#{@venue.city}, #{@venue.state}" %>
</p>
<% if user_signed_in? && current_user.has_role?(:host) %>
<%= button_to "Request Event", requests_create_path, method: :post, params: {venue_id: @venue.id} %>
<% end %>
<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>

<br>
<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['GOOGLE_MAP_API']%>&q=<%= @venue.full_street_address %>" allowfullscreen>
</iframe>
</div>
