<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @venue.image_url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @venue.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @venue.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @venue.website %>
</p>

<p>
  <strong>Style:</strong>
  <%= @venue.style %>
</p>

<p>
  <strong>About:</strong>
  <%= @venue.about %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @venue.street_address %>
</p>

<p>
  <strong>Area:</strong>
  <%= "#{@venue.area.city}, #{@venue.area.state}" %>
</p>

<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCuEtLjJSQSbK5lUfK91fiuOUht2NOeGck
    &q=<%= @venue.area.city_state_address %>" allowfullscreen>
</iframe>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
