<!DOCTYPE html>
<html>
  <head>
    <title>Graise</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag'https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="shortcut icon" href="assets/Graise.png">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Graise</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav d-flex">
      <li class="nav-item active">
        <a class="nav-link" href="/events">Events <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/venues">Venues</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/causes">Causes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/hosts">Hosts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/venueowners">Venue Owners</a>
      </li>
      <% if user_signed_in? && current_user.has_role?(:host) %>
      <li class="nav-item">
        <a class="nav-link" href="/requests/index">My Requests</a>
      </li>
      <% end %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <% if user_signed_in? && current_user.has_role?(:venue) %>
      <%= link_to('My Venue', venues_myvenue_path, class:"nav-item nav-link")%>
      <% end %>

      <% if user_signed_in? %>
      <%= link_to('Profile', user_path(current_user), class:"nav-item nav-link")%>
      <li class="nav-item">
        <div class="nav-link" ><%= link_to('Logout', destroy_user_session_path,method: :delete) %></div>
      </li>
      <% end %>

      <% if !user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link" href="/users/sign_in">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/sign_up">Sign Up</a>
      </li>

      <% end %>





      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
  </div>
</nav>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
